# follower
SUBSYSTEM=="tty", ENV{ID_SERIAL}=="FTDI_USB__-__Serial_Converter_FOLLOWER", SYMLINK+="follower", MODE="0666", ATTR{device/latency_timer}="1"
# leader
SUBSYSTEM=="tty", ENV{ID_SERIAL}=="FTDI_USB__-__Serial_Converter_LEADER_LEFT", SYMLINK+="left_leader", MODE="0666", ATTR{device/latency_timer}="1"
SUBSYSTEM=="tty", ENV{ID_SERIAL}=="FTDI_USB__-__Serial_Converter_LEADER_RIGHT", SYMLINK+="right_leader", MODE="0666", ATTR{device/latency_timer}="1"
